<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content},~{:: title},~{:: script})}">
<head>
    <title>Login</title>
</head>
<body>
    <div id="content">
        <h1>welcome to login page</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum inventore laboriosam veritatis assumenda aliquam quis quaerat dolores sequi est cumque commodi similique quidem natus id unde veniam iste, nulla illo!</p>
    </div>
    <script>
        console.log("login page")
    </script>
</body>
</html>